	<%= form_with(model: author, local: true) do |form| %>
	  <% if author.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger">
	      <strong><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</strong>
	
	      <ul>
	      <% author.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="form-group">
	    <%= form.label :fname , "First Name"%>
	    <%= form.text_field :fname, id: :author_fname, class: "form-control" %>
	  </div>
	
	  <div class="form-group">
	    <%= form.label :lname, "Last Name" %>
	    <%= form.text_field :lname, id: :author_lname, class: "form-control" %>
	  </div>
	
	  <div class="form-group">
	    <%= form.label :email, "Email" %>
	    <%= form.text_field :email, id: :author_email, class: "form-control" %>
	  </div>
	
	  <div class="form-group">
	    <%= form.label :thumbnail, "Profile Image" %>
	    <%= form.file_field :thumbnail, id: :author_thumbnail, class: "form-control-file" %>
	  </div>
	
	  <div class="actions">
	    <%= form.submit class: "btn btn-primary" %>
	    <%= link_to 'Cancel', authors_path, class: "btn btn-danger" %>
	  </div>
	<% end %>

